/* control + f para buscar */

body {
    background-color: rgba(0, 0, 0, 0.938);
    margin: 0;
}

* {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px rgb(49, 214, 85);
    border-radius: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: rgb(243, 251, 254);
    }
}

nav li a {
    color: rgb(36, 236, 210);
}

nav li:hover {
    background-color:  rgb(225, 245, 253);
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.py-3 {
    padding: 16px 0;
}
.px-3 {
    padding: 0 16px;
}
.p-3 {
    padding: 16px;
}

.bg-azul-o {
    background-color: rgb(0, 0, 0);
}
.bg-azul-c {
    background-color: rgba(1, 204, 255, 0.938);
}
.bg-orange {
    background-color: orange;
}
.text-white {
    color: rgb(0, 255, 221);
}
.text-red {
    color: red;
    font-size: 30px;
    background-color: cyan;
}
footer h1 {
    border-bottom-left-radius: 10px;
}
footer h1 {
    border-bottom-right-radius: 10px;
}

h1 {
    margin: 0;
}

#btnmenu {
    font-size: 40px;
    display: none;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #menu{
        display: block;
    }
}
.etiqueta{
    color: red;
    font-size: 28px;
    font-weight: bold;

}
.etiqueta2{
    color:fuchsia;
    font-size: 32px;
    font-weight: bold;
}

#enlaces a{
    color:rgb(0, 225, 255);
    text-decoration: underline;
    font-size: 22px;
}

#listas .customdes li {
    list-style-type: square;
    
}

#listas .customdes li li {
    list-style-type: disc;

}

#listas .customdes li li li {
    list-style-type: circle;
}

#listas .customrd li {
    list-style-type: upper-roman;
}
#listas .customrd li li {
    list-style-type: lower-greek;
}
#listas .customrd li li li {
    list-style-type: decimal;
}

#listas .customimg li li {
    list-style-image: url(../img/cesped.png);
}

#listas .custombl dt{
    display:inline;
    width: 30%;
    font-size: 26px;
    background-color:black;
    color: aqua;
    font-weight: bold;
}

#tablas .table1 th {
    background-color: blue;
}

#tablas .recreo td {
    font-weight: bold;
}

.fila1 {
    background-color: orange;
}

.fila2 {
    background-color: red;
}

#tablas .s1daw {
    font-weight: bold;
}

.tabla3 {
    margin: 0 auto;
    width: 50%;
    background-color: white;
}

.lmsg {
    background-color: #64b4f0;
    font-weight: lighter;
    color: black;
}

.prog {
    background-color: #d2d26e;
    font-weight: lighter;
    color: black;
}

.ende {
    background-color: #96dc96;
    font-weight: lighter;
    color: black;
}

.pimd {
    background-color: #bc7878;
    font-weight: lighter;
    color: black;
}

.dasp {
    background-color: #ffa264;
    font-weight: lighter;
    color: black;
}

.bdd {
    background-color: #64aa96;
    font-weight: lighter;
    color: black;
}

.ipcg {
    background-color: #00df00;
    font-weight: lighter;
    color: black;
}

.sisi {
    background-color: #0080ff;
    font-weight: lighter;
    color: black;
}

.sasp {
    background-color: #d2d2ff;
    font-weight: lighter;
    color: black;
}

.ipe {
    background-color: #f0f0c8;
    font-weight: lighter;
    color: black;
}

.dia {
    font-weight: lighter;
    color: #338a84;
}

.s1daw {
    color: #338a84;
    font-weight: bold;
    font-size: larger;
}

.verdecito {
    color: #338a84;
    font-size: larger;
}

.col3 {
    width: 33.3%;
    float: left;
    padding: 5px;
    margin: 0auto;
    border-radius: 0%;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-repeat: stretch;
}

.video {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.col3 img {
    padding: 6px;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-repeat: stretch;
}

.cb {
    clear: both;
}

.black {
    color: #000000;
}

.formlogin {
 float: left;
}

.formregister {
float: right;
}

.formhtml5 {
margin: 0% auto;
width: 50%;
}

.button {
    border-radius: 50%;
    background-color: #61f161;
    color: #000000;
}

.barra {
    position: sticky;
    top: 0; /* Mantiene el menú pegado a la parte superior */
    background-color: #101010;
    padding: 10px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    border-style: groove;
    margin: 0 auto;
}

.barra ul {
    display: contents;
    display: flex;
    justify-content: space-around;
}

.barra li a {
    color: rgb(36, 236, 210);
    padding: 10px 20px;
    transition: background 0.3s;
    font-family: Arial, sans-serif;
}

.barra li a:hover {
    background-color: #101010;
    border-radius: 10px;
    color: #ff0000;
}